% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.
{deps, [
        {erlsom, {git, "https://github.com/willemdj/erlsom", {branch, "master"}}},
        {ejson, {git, "https://github.com/jonasrichard/ejson", {branch, "master"}}}
       ]}.
